<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo_essentials" >

<!--############################# ROS-CONTROL #########################################-->
<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <controlPeriod>0.001</controlPeriod>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>
<!--################################ ROS-Controllers ######################################-->
  <gazebo>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <jointName>arm_base_joint, shoulder_joint, bottom_wrist_joint, elbow_joint, bottom_wrist_joint</jointName>
    </plugin>
  </gazebo>
<!--######################################################################-->
</robot>
