<launch>


<!-- Launching USB CAM launch files and Dynamixel controllers -->

<!-- Starting face tracker node -->
   <rosparam file="$(find face_tracker_pkg)/config/track.yaml" command="load"/>

   <node name="face_tracker" pkg="face_tracker_pkg" type="face_tracker_node" output="screen" />

</launch>
