<?xml version="1.0"?>

<launch>
  <param name="robot_description" textfile="$(find robot_description)/urdf/robot_base.urdf" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot_base" />
</launch>
