<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo_essentials" >

<!--############################# ROS-CONTROL #########################################-->
<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <controlPeriod>0.001</controlPeriod>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>
<!--################################ ROS-Controllers ######################################-->
<gazebo>
      <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <legacyMode>false</legacyMode>
        <alwaysOn>true</alwaysOn>
        <updateRate>1000.0</updateRate>
        <leftJoint>front_left_wheel_joint, rear_left_wheel_joint</leftJoint>
        <rightJoint>front_right_wheel_joint, rear_right_wheel_joint</rightJoint>
        <wheelSeparation>0.5</wheelSeparation>
        <wheelDiameter>0.2</wheelDiameter>
        <wheelTorque>10</wheelTorque>
        <publishTf>1</publishTf>
        <odometryFrame>map</odometryFrame>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <robotBaseFrame>base_link</robotBaseFrame>
        <wheelAcceleration>2.8</wheelAcceleration>
        <publishWheelJointState>true</publishWheelJointState>
        <publishWheelTF>false</publishWheelTF>
        <odometrySource>world</odometrySource>
        <rosDebugLevel>Debug</rosDebugLevel>
      </plugin>
</gazebo>
<!--######################################################################-->
  <gazebo>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <jointName>arm_base_joint, shoulder_joint, bottom_wrist_joint, elbow_joint, bottom_wrist_joint</jointName>
    </plugin>
  </gazebo>

<!--############################# Wheel friction #########################################-->
<xacro:macro name="wheel_friction" params="prefix ">

<gazebo reference="${prefix}_wheel">
 <mu1 value="1.0"/>
 <mu2 value="1.0"/>
 <kp value="10000000.0" />
 <kd value="1.0" />
 <fdir1 value="1 0 0"/>
</gazebo>

</xacro:macro>
<!--######################################################################-->
</robot>
